{% extends "layout.html.twig" %}

{% block central %}
<!-- **********************************************************************************************************************************************************
  MAIN CONTENT
  *********************************************************************************************************************************************************** -->
<div class="container">
   <div id="blocImage">
       
       <!--<img src="vue/img/greece-1162816_640.jpg" alt="Agora en Grèce" class="responsive">-->
         <img src="web/img/greece-3348294_1280.jpg" alt="" class="responsive">

      <div id="blocImageTexte">
{#       Bonjour <?php  echo $_SESSION["prenomUtilisateur"].' '.$_SESSION["nomUtilisateur"] ; ?>#}
         Bonjour {{ session.prenomUtilisateur }} {{ session.nomUtilisateur }}
      </div>
   </div>
</div>

{% endblock %}
