<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>essai twig</title>
    <h1>Premier essai avec twig ...</h1>
</head>
<body>
    {# affichage de la variable name #}
    <h2>Salut {{ name }} !!! </h2>
</body>
</html>
